.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}
.receive-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 900px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}
.receive-box .top {
    height: 10%;
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: flex-end;
    position: relative;
    border-bottom: 1px solid black;
}
.receive-box .content {
    height: 90%;
}
.receive-box .top .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
    height: 75%;
    margin-left: 20px;
}
.receive-box .top .tabs > div {
    padding: 5px 15px;
    border-right: 1px solid #aaa;
    background-color: transparent;
    user-select: none;
    transition: background-color 300ms, color 300ms;
}
.receive-box .top .tabs > div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.receive-box .top .tabs > div[data-select] {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
.close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(-50%);
    background-image: url(img/cancelIcon.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 15px;
    right: 0;
}
.close a {
    display: block;
    color: black;
}
.close a:hover {
    color: #666;
}
.close a:active {
    color: black;
}
.receive-box .content {
    overflow: auto;
    position: relative;
}
.receive-box .content .header {
    height: 150px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 25px rgba(0, 0, 0, 1);
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: flex-end;
}
.receive-box .content .on-yazi {
    text-indent: 50px;
    padding: 10px 15px;
    text-shadow: 0 0 1px rgba(255, 0, 0, 0.7);
    letter-spacing: 1px;
}
.receive-box .content .material-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}
.receive-box .content .material-list li {
    padding: 5px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 0 5px;
}
.receive-box .content .steps {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border-top: 1px solid #aaa;
}
.receive-box .content .steps h3 {
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 30px;
}
.receive-box .content .steps p {
    padding: 15px 30px;
    font-size: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 10px 15px;
    border-radius: 15px;
    letter-spacing: 1.5px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.receive-box .content .materials-h4 {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: lighter;
}
.receive-box .notes {
    width: 100%;
    padding: 10px 25px;
}
.receive-box .notes h3 {
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-decoration: underline;
}
.receive-box .notes p {
    letter-spacing: 1px;
    line-height: 25px;
    padding: 10px 0;
    border-bottom: 1px solid #666;
}
